@model CartViewModel

@if (Model == null || Model.Items.Count == 0)
{
	<h3>EMPTY CART</h3>
}
else
{
<div class="row">
	<div class="col">
		<table class ="table">
			<thead>
				<tr>
				    <th>ITEM NAME</th>
	                <th>PRICE $</th>
					<th>AMMOUNT</th>
	                <th>COST $</th>
					<th>ADD ITEM</th>
					<th>REMOVE ITEM</th>
					</tr>
			</thead>
			<tbody>
			@foreach(var item in Model.Items)
			{
				<tr>
					<td>@item.Product.Name</td>
					<td>@item.Product.Cost</td>
					<td>@item.Amount</td>
					<td>@item.Cost</td>
                    <td><a class ="btn btn-outline-success" asp-area="" asp-controller ='Cart' asp-action="Add" asp-route-productId="@item.Product.Id" >+</a></td>
					<td><a class ="btn btn-outline-success" asp-area="" asp-controller="Cart" asp-action="RemoveProduct" asp-route-productId = "@item.Product.Id" >-</a></td>

				</tr>
			}
		</tbody>
		</table>
		<div class="text-right">
	<h3>Total</h3>
	<h3>$@Model.Cost</h3>
</div>
<div class ="text-center">
	<a class ="btn btn-outline-success" href="/home/index" role="button">CONTINUE SHOPPING</a>
	<a class ="btn btn-outline-success" href="/customerprofile" role="button">CHECKOUT</a>
	<a class="btn btn-outline-danger" href="/cart/removeAll" role="button">CLEAR CART</a>
		</div>
	</div>
</div>

}